html, body {
  min-height: 100%;
}

body, div, form, input, select { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'sarabun new', sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

h1, h4 {
  margin: 15px 0 4px;
  font-weight: 400;
}

h4 {
  margin: 20px 0 4px;
  font-weight: 400;
}

/*............................................*/

  /*จัดรูปแบบของแบบฟอร์ม*/
form {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10px;  
  padding: 30px;
  background: #fff;
  box-shadow: 0 5px 80px #ccc; 
}

/*............................................*/

  /*ช่องรับข้อมูล*/
input {
  /*width: calc(100% - 10px);*/
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}
  /*css เกี่ยวกับกับเปลี่ยนแปลงของ input*/
  /*input:hover, textarea:hover, select:hover {
  outline: none;
  border: 1px solid #095484;
  background: #e6eef7;
  }*/

  /*.title-block select, .title-block input {
  margin-bottom: 10px;
  }*/

/*............................................*/

  /*ช่องเลือกข้อมูล*/
select {
  padding: 7px 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: transparent;
}
select, table {
  width: 100%;
}

/*............................................*/

    /*ปุ่มบันทึกข้อมูล*/
.btn-block {
  margin-top: 20px;
  text-align: center;
}
button {
  width: 300px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 10px; 
  background-color: #00008B;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #6495ED;
}
  
/*............................................*/

@media (min-width: 568px) {
.title-block {
/*display: flex;*/
  justify-content: space-between;
}
.title-block select {
  width: 50%;
  margin-bottom: 0;
}
.title-block input {
  width: 10%;
  margin-bottom: 0;
}


/*............................................*/
  /*span {
  color: red;
  }
  .small {
  font-size: 10px;
  line-height: 18px;
  }*/

  /*.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 3px;
  }*/

  /*option {
  background: #fff;
  }*/

  /*.day-visited, .time-visited {
  position: relative;
  }
  input[type="date"]::-webkit-inner-spin-button {
  display: none;
  }
  input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
  }
  .day-visited i, .time-visited i, input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 8px;
  font-size: 20px;
  }
  .day-visited i, .time-visited i {
  right: 5px;
  z-index: 1;
  color: #a9a9a9;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
  right: 0;
  z-index: 2;
  opacity: 0;
  }*/

  /*.question-answer label {
  display: block;
  padding: 0 20px 10px 0;
  }
  .question-answer input {
  width: auto;
  margin-top: -2px;
  }*/

  /*th, td {
  width: 18%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: unset;
  line-height: 18px;
  font-weight: 400;
  word-break: break-all;
  }*/

  /*.first-col {
  width: 25%;
  text-align: left;
  }*/
  /*textarea {
  width: calc(100% - 6px);
  }*/
    
  /*th, td {
  word-break: keep-all;
  }*/
  
  }